<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div>
  <h1>property binding</h1>
  <input type="text" 
    class="styled-input"  value="{{ inputValue}}" disabled="{{isDisabled
    }}"/>
  <br/><br/>
  <input type="text" class="styled-input" 
    [value] ="inputValue"
     [disabled]="isDisabled"/>
     <button type="submit" (click)="display()">click Me</button>
</div>
<app-test></app-test>
